<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RlmArrayModel</key>
	<string>数组</string>
	<key>RlmTextModel</key>
	<string>个人信息</string>
	<key>RlmImgModel</key>
	<string>图片</string>
</dict>
</plist>
